.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:hover { text-decoration: none }
a:focus { outline: 0 solid; text-decoration: none}
img {
    max-width: 100%;
    height: auto;
}
input:focus, button:focus, textarea:focus, a:focus {outline: none}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:'Yeseva One', cursive;
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100%}
body {
	font-family: 'Gentium Book Basic', serif;
	font-size: 16px;
}
a{
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition:0.3s;
	transition: 0.3s;
	color: #333;
}
p:last-child {
    margin-bottom: 0
}

.header-aera  {
	width: 100%;
	z-index: 999;
	position: relative;
}
.header-aera:after, .logo img, .mainmenu ul.nav.navbar-nav li a, .social-links 
{
	transition: .4s
}
.logo img{
	height: 90px;
}
.is-sticky .header-area:after {
	background: rgba(255, 255, 255, 0.5);
	opacity: 0.8;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
}
.is-sticky .logo img{
	height: 65px;
	width: auto;
	padding: 10px 0; 
}
.is-sticky .mainmenu ul.nav.navbar-nav li a{ 
	padding: 22px 15px;
}
.is-sticky .social-links{
	top:18px;
}

.slide-bg-1{
	background-image: url('img/header-bg.jpg');
}
.slide-bg-2 {
	
   background-image: url('img/parallax-2.jpg');
}
.header-text h2{
	background: url('img/line_symbol.png');
}
.top-area{
	position: relative;

}
.top-area-bg{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
    background-size: cover;
	
}
.mainmenu{
	padding-right: 80px;
	padding-top: 20px;
	position: relative;
	text-align: center;
}

.mainmenu ul.nav.navbar-nav {
	float: none;
	font-size: 20px;
    text-align: right;
	
	
}

.mainmenu ul.nav.navbar-nav li {
    display: inline-block;
	float: none;
	position: relative;
	width: 15%;
}
.mainmenu ul.nav.navbar-nav li a{ 
	color: #fff;
	padding: 37px 15px 0 15px;
	text-decoration: none;
	text-transform: uppercase;
	display:block;
}
.mainmenu ul.nav.navbar-nav li:hover a {
	background: none;
}
.mainmenu ul.nav.navbar-nav li a:focus  {
	background: none;
}
.mainmenu ul.nav.navbar-nav li.active{
	color: #CC9900;
}

.mainmenu ul.nav.navbar-nav li.active::before {
	background: #c8c5ba none repeat scroll 0 0;
	content: "";
    height: 3px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

}
.is-sticky .mainmenu ul.nav.navbar-nav li.active a{
	color: #CC9900;
	
}
.header-text-area{
	position: relative;
	padding-top: 80px;
}

.header-text h2{
	background-position: center bottom;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 40px;/*font-size: 70px;*/
	padding-bottom: 40px;
	text-align:center;
	margin-bottom: 40px;
	
}

.btn-filled{
	color: #fff;
	display: inline-block;
	margin: 0 5px;
	padding: 10px 30px;
	position: relative;
	text-transform: uppercase;
	z-index: 1;
}
.btn-filled::after{
	background: #1d2122 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.btn-filled.yellow-color-btn::after{
	background-color:#b39d45;
}


.header-text{
	padding: 100px 0;
}


.social-links {
	position: absolute;
	right: 0;
	top: 37px;
}
.social-links a{
	
}
.social-links a {
	color: #CC9900;
	display: inline-block;
	font-size: 20px;
	padding-left: 5px;
	
}

.header-area{
	width: 100%;
}
.sticky-wrapper {
	position: absolute;
	top: 8;
	width: 100%;
	z-index: 999;
}

.slide-control {
	color: #fff;
	font-size: 80px;
	left: 30px;
	margin-top: -70px;
	opacity: 0.2;
	position: absolute;
	top:50%;
}
.slide-control.right {
	left: auto;
	right: 30px;
}
.slide-control:hover{
	color: #fff;
	opacity: 1;
	
}
.slide-control:focus{
cursor: pointer;
}
#top-slide-carousel .carousel-fade {
 #top-slide-carousel.carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    #top-slide-carousel.carousel-control {
        z-index: 2;
    }
}



html, 
body, 
#top-slide-carousel.carousel, 
#top-slide-carousel.carousel-inner, 
#top-slide-carousel.carousel-inner .item {
    height: 100%;
}







.about-area{
	background: url(img/symphony.png);
}
.section-padding {
	padding:80px 0;
}
.section-title {
	background: rgba(0, 0, 0, 0) url("img/section-title-pattern.png") no-repeat scroll center bottom;
	color: #cc9900;
	margin-bottom: 20px;
	padding-bottom: 35px;
	text-align: center;
}
.about-text{
	
	margin-top: 20px;
}
.author-photo{
	margin-top: 30px;
}


.ingredients-area {
	position: relative;
}

.parallax-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	
}
.ingredients-bg {
	background-image: url(img/irr-sec-bg.jpg);
}
.ingredients-text{
	color: #fff;
	font-size: 16px;
	padding: 30px;
	position: relative;
	z-index: 1;

}
.ingredients-text p {
	margin-bottom: 30px;
}
.ingredients-text::after, .testimonial-list:after{
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.section-title.white-sec-title{
	color: #fff;
	background-image: url(img/section-pattern-white.png);
}
.food-menu-area{
      background: url(img/symphony.png);
	}
.single-food-menu-item h2{
	border-bottom: 1px solid;
	color: #c89f2d;
	font-size: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.single-food-menu-item h2 span{
	float: right;
	font-weight: 400;
}
.single-food-menu-item {
	margin-bottom: 40px;
}

.single-food-menu-item.special{
	border: 1px solid #d6bb6c;
	padding: 10px;
	position: relative;
}

.single-food-menu-item.special::before{
	background: #d6bbdc none repeat scroll 0 0;
	color: #fff;
	content: "Special";
	font-size: 14px;
	padding: 1px 5px;
	position: absolute;
	right: -1px;
	text-transform: uppercase;
	top: -23px;
}
.single-food-menu-item p{
	margin: 0;
}
.testimonial-area {
	position: relative;
}
.testimonial-bg{
	background-image: url(img/testimonial-bg.png);
}
.testimonial-list {
	color: #fff;
	font-size: 25px;
	padding: 50px;
	position: relative;
	z-index: 1;
}
.testimonial-list p.testimonial-author{
	font-size: 18px;
	margin-top: 30px;
	
}
.testimonial-carousel:before{
	font-family:FontAwesome; 
	content:"\f10d";
	position:absolute;
	left: -30px;
	top: -17px;
	color: #9a9d9c;
	font-size: 35px;
}

.contact-us-area {
	background-image: url('img/symphony.png');
}
.contact-img img{
	margin-left: 20px;
	width: 245px;
}
.contact-form{
	text-align: left;
	margin-top: 30px;
}
.contact-form
input[type="text"], .contact-form select{
	width: 100%;
	border: 1px solid #E2D4AC;
	padding: 5px;
	margin-bottom: 13px;
}
.contact-form label{
	color: #cb9821;
	
}

.contact-form button {
	background: #c9a131 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	margin: 0 auto;
	display: block;
	padding: 5px 30px;
	width: 150px;
	
}
.footer-area {
	background: #191919 none repeat scroll 0 0;
	color: #bfbfbf;
	font-size: 15px;
	padding: 50px 0;
}
.footer-area .section-title {
    color: #fff;
	font-size: 20px;
	background-image: url('img/section-title-pattern-title.png');
}
.footer-area strong {
     color: #fff;
}
.footer-cards {
	color: #fff;
	margin-top:20px;
}
.footer-cards i{
	margin: 0 2px;
	
}
.footer-social-icon a{
	color: #fff;
	display: inline-block;
	font-size: 20px;
	padding: 0 3px;
}






 



